body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.tarjeta {
  text-align: center;
  position: relative;
}

canvas {
  width: 200px;
  height: 200px;
}

.info {
  margin-top: 20px;
}
